@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

body {
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: beige;
    padding: 1.5rem 0rem;

}

.container a {
    text-decoration: none;
}

.container a:hover {
    color: red;
}

.img-container {
    width: 100%;
    display: flex;
    align-items: center;

}

.img-container img {
    padding: 50px;
    width: 290px;
    margin: 1rem auto;

}

.Quote img {
    height: 490px;
    width:100%;
}

.gallery-image{
    height: 300px;
}

.img-container h1,
.img-container p {
    text-align: start;
    padding: 30px;
}

main {
    width: 50vw;
    margin-top: 2rem;
    margin: 0 auto;
}

form {
    width: 100%;
    text-align: center;
}

input,
textarea {
    /* margin: 1rem 1rem 0 0; */
    width: 80%;
    padding: 1rem 1rem;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: blue;
    color: #ffffff;
}

input[type="submit"]:hover {
    color: black;
    background-color: #ffffff;
    border: 1px solid black;
}

.gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;

}

/* .gallery .gallery-item {
    flex-shrink: 0;
    flex-grow: 0;
} */


.gallery-item img {
    width: 25rem;
}

.Quote {
    margin: 1rem 1rem;
}

.Quote h2 {
    text-align: center;
}


.contact-details {
    padding: 50px;
    float: right;
}

@media screen and (max-width:768px) {
    main {
        width: 90%;
        margin: 0.5rem auto;
    }

    .img-container {
        display: block;
    }

    html {
        font-size: 12px;
    }

}


/* .form-inputs {
    text-align: center;
} */

/* y */