.container 
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
  /* justify-content: space-around; */
}
.container1
{
    width:25%;
    height:100vh;
    text-align:center;
    /* overflow-y: scroll; */
    /* align-items:flex-start; */
}
.container2 
{
    flex-grow:1;
    max-height:100vh;
    overflow-y: scroll;
    text-align: center;
    border-left: 5px solid black;
    
}
.container[h2] {
    position: fixed;
    
}

div.products 
{
    cursor:pointer;
}

.table, .product{
    border: 2px solid black;
    padding: 3px;
    margin:8px; 
    text-align:left;
    box-shadow: 2px 8px 20px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}
.color {
    background-color:darkgoldenrod;
}
.table-color{
  background-color: none !important;
}
/* .product {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
} */
.table:hover {
    color: coral;
}
.product:hover {
    color:darkorchid;
}

input[type="text"]
{
    font-size: 1rem;
    font-weight: bold;
   margin:0px 10px 10px 0px;
    width: 70%;
    padding: 10px 20px;
}
 .modal {
    margin-left: auto;
    /* border: 2px solid rgb(251, 247, 247); */
    position:absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    /* opacity:0.9;
    background-color: rgba(255, 255, 255, 0.5); */
    /* background-color: rgba(122, 123, 119, 0.5); */
    /* z-index: 999; */
    /* display: block; */
    display: none;
} 
caption {
    color: crimson;
    background-color: cadetblue;
}
table {
    border: 2px solid rgb(18, 18, 18);
    width: 100%;
    background-color: lavenderblush;
    /* border-collapse: collapse; */
}
.thead {
    width: 100%;
    border-collapse: collapse;
}

 tr {
    color: rgb(14, 14, 15);
    background-color: white;
    /* border-collapse: collapse; */
    /* padding: 5px; */
    width: 100%;
    /* border: 2px solid black ; */
  
  } 
  td {
    border :1px solid rgb(252, 250, 250);
    text-align: center;
    width: 3%;
    /* color:#e0ab377d */
    
   
  }
 
  /* table tr {
    border-collapse: collapse;
    width: 100%;
    margin:10px;
    border:2px solid gold;
  } */

th{
    width: 3%;
    text-align: center;
    border:2px solid rgb(58, 189, 245);
    border-collapse:collapse;
  }
td {
    width: 3%;
    text-align: center;
    border:2px solid rgb(253, 251, 251);
    border-collapse:collapse;
  }


  td input {
    border:1px solid rgb(10, 10, 10);
    width: 80%;
    height: 20px;
    border: 1px;
    text-align: center;
   
  
  }
  input[type="number"] {
    padding: 0px;
    margin: 0px;
    color: rgb(11, 11, 11);
    cursor: pointer;
    background-color:aliceblue;
  }


  .hide
  {
      display: none;
  }
  .unhide {
    display: block;
  }

  #bill:hover
  {
    color:black;
  }
  #bill {
    cursor: pointer;
  }

